<!--レビュー一覧画面-->
<% if @genre.present? %>
  <h4>ジャンル「<%= @genre.name %>」での絞り込み</h4>
<% elsif @shop_info.present? %>
  <h4>お店「<%= @shop_info.shop_name %>」での絞り込み</h4>
<% else %>
  <h4>レビュー一覧</h4>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto" style="width: 200px;">
      <%= render 'layouts/new' %>
      <%= render 'public/posts/post-index', posts: @posts %>
    </div>
  </div>
</div>