<div class="container">
  <div class="row">
    <div class="col">
      <h3>通報一覧</h3>

      <table class="table">
        <tr>
          <th>通報ID</th>
          <th>会員名</th>
          <th>通報者</th>
          <th>ステータス</th>
        </tr>
      <% @reports.each do |report| %>
        <tr>
          <td>
            <%= link_to report.id, admin_report_path(report) %>
          </td>
          <td>
            <%= report.reported_id %>
          </td>
          <td>
            <%= report.reporter.customer.nickname %>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>